<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card
    status="On Hold"
    updateAt="07/2/2023 20:20:00"
    createdAt="07/2/2023"
    notes="Notes: We have two full bags of waste. One with plastics and another with glass."
  ></app-pickup-call-card>

  <app-pickup-call-card
    status="Processing"
    updateAt="08/03/2023 11:00:00"
    createdAt="04/03/2023"
    notes="Notes: We have two full bags."
  ></app-pickup-call-card>

  <app-pickup-call-card
  status="Finished"
  updateAt="02/04/2023 11:00:00"
  createdAt="05/03/2023"
  value="XAF 1500"
></app-pickup-call-card>
</ion-content>
