<ion-card>
  <ion-card-header *ngIf="hasHeader">
    <ion-card-subtitle>Last pickup call</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-item lines="none">
      <ion-icon
        *ngIf="status == 'On Hold'"
        slot="start"
        name="hourglass-outline"
        color="warning"
      ></ion-icon>
      <ion-icon
        *ngIf="status == 'Processing'" 
        slot="start"
        name="archive-outline"
        color="secondary"
      ></ion-icon>
      <ion-icon
        *ngIf="status == 'Finished'"
        slot="start"
        name="checkmark-circle-outline"
        color="success"
      ></ion-icon>
      <ion-label>
        <span *ngIf="status == 'On Hold'">On Hold</span>
        <span *ngIf="status == 'Processing'">Processing</span>
        <span *ngIf="status == 'Finished'">Finished</span>
        <p>{{ updateAt }}</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" >
      <ion-label>
        <p>Created in {{ createdAt }}</p>
        <p *ngIf="notes">{{ notes }}</p>
      </ion-label>
    </ion-item>
    <ion-button
      *ngIf="hasFooter"
      fill="clear"
      color="success"
      size="full"
      shape="round"
    >
      See all...
    </ion-button>
    <ion-item *ngIf="status == 'Finished'">
      <ion-icon slot="start" name="trophy" color="success"></ion-icon>
      <ion-label>{{ value }}</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
