ion-button {
    text-transform: initial;
    margin: 10px auto;

}

ion-item {
    font-family: "Poppins", sans-serif;
}

ion-content {
    --background: var(--ion-color-success)
}

ion-input {
    border-bottom: 1px solid var(--ion-color-success);
}

.btn {
    display: flex;
    flex-direction: column;
}

.register {
    color: #2dd36f;
}

.btn:hover {
    text-decoration: underline;
    transition: all .3s ease-in-out;
}