<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
</head>
<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Reciclica</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Enter your email" type="email"></ion-input>
        </ion-item>        
        <ion-item>
          <ion-input label="Password" labelPlacement="floating" placeholder="Enter your password" type="password"></ion-input>
        </ion-item>
        <ion-button color="dark" size="full" shape="round" color="success">Login</ion-button>
        <ion-button color="dark" size="full" shape="round" color="success">Register</ion-button>
        <ion-button color="dark" shape="round" class="btn" fill="clear">Forgot password</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
