<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="" alt="world map">
    <ion-card-content>
      <p>Address: Fake place</p>
      <p>Complement: Apto Street</p>
      <p>Neighbourhood: neighbour</p>
      <p>Zip code: 123345</p>
      <p>City name - State</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea ></ion-textarea>
    </ion-item>
  </ion-list>
<ion-button  shape="round" color="success" size="full">CREATE PICKUP CALL</ion-button>
</ion-content>
