<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://developers.google.com/static/maps/images/landing/hero_maps_static_api_480.png" alt="pickup location">
    <ion-card-content>
      <p>Address: Molyko-Buea</p>
      <p>Complement: I don't understand</p>
      <p>Neighbourhood: Bwiteva-New layout</p>
      <p>Zip code: 00237</p>
      <p>City name - Buea </p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea ></ion-textarea>
    </ion-item>
  </ion-list>
<ion-button  shape="round" color="success" size="full">CREATE PICKUP CALL</ion-button>
</ion-content>
