<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item color="">
      <ion-avatar slot="start">
        <img
        src="https://img.freepik.com/free-vector/ecology-white_24877-49455.jpg?size=626&ext=jpg"
          alt="user image" />
      </ion-avatar>
      <ion-label>
        <h1>Akinimbom</h1>
        <p>Gathered: <span class="money">XAF 1500</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <app-pickup-call-card [hasHeader]="true" [hasFooter]="true" status="On Hold" updateAt="07/2/2023 20:20:00"
    createdAt="07/2/2023" notes="Notes: We have two full bags of waste. One with plastics and another with glass.">
    <ion-card-header header>
      <ion-card-subtitle>Last Pickup Call</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" color="success" size="full" shape="round" (click)="pCs ()" footer>
      See all...
    </ion-button>
  </app-pickup-call-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="pC()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>